
           #title{
               color:black;
               text-align: center;
           }
           .mucluc{
               color:black;
           }
           div p{
               color: black;
           }

